.carousel-inner {
    width: 100%;
}

.carousel-item {
    width: 100%;
}

.carousel-fade .carousel-inner .item {
	opacity   : 0;
	transition: opacity .3s;
	/* The 0.5s describes the duration to make the opacity from 0 to 1 */
}

.carousel-fade .carousel-inner .active {
	opacity: 1;
}

/* CSS Hack to trigger GPU for smooth transition */
@media all and (transform-3d), (-webkit-transform-3d) {
	.carousel-fade .carousel-inner > .item.active.right,
	.carousel-fade .carousel-inner > .item.next {
		opacity          : 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform        : translate3d(0, 0, 0);
	}

	.carousel-fade .carousel-inner > .item.active.left,
	.carousel-fade .carousel-inner > .item.prev {
		opacity          : 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform        : translate3d(0, 0, 0);
	}

	.carousel-fade .carousel-inner > .item.active,
	.carousel-fade .carousel-inner > .item.next.left,
	.carousel-fade .carousel-inner > .item.prev.right {
		opacity          : 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform        : translate3d(0, 0, 0);
	}
}
/* CSS Hack to trigger GPU for smooth transition */
