/* fonts*/

@font-face {
    font-family: Ailerons;
    src: url('../fonts/Ailerons-Typeface.otf');
}

@font-face {
    font-family: AUDIMSCL;
    src: url('../fonts/AUDIMSC.ttf');
}

@font-face {
    font-family: AUDIMSCL;
    src: url('../fonts/AUDIMSCL.ttf');
    font-weight: lighter;
}

@font-face {
    font-family: AUDIMSCL;
    src: url('../fonts/AUDIMSCB.ttf');
    font-weight: bold;
}

body {
    font-family: AUDIMSCL;
    background: #de1717;
    z-index: -3;
    overflow-x: hidden;
}


/* nav bar css */

.main_logo {
    color: #de1717;
    font-size: 3em;
    margin: 0.8em;
    letter-spacing: 0.2em;
    font-family: Ailerons;
    width: 1em;
    word-wrap: break-word;
    float: left;
    display: block;
}

.logo-row {
    background: #de1717;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo {
    height: 100px;
    align-content: center;
    max-width: 200px;
}

.navbar-default {
    color: #0c0c0c;
    background-color: #e5e5e5;
    border-radius: 0px;
}

.navbar-right {
    font-family: AUDIMSCL;
    line-height: 26pt;
    font-weight: normal;
}

.navbar-brand-override {
    color: #de1717!important;
    font-size: 25pt;
    margin-top: 23pt;
    margin-left: 15px;
    letter-spacing: 2pt;
    font-family: Ailerons;
}

a.navbar-brand-override:hover {
    color: #de1717;
    text-decoration: none;
}

.navbar-nav>li>a:hover {
    color: #e5e5e5;
    background-color: #0c0c0c;
}

.navbar li a,
.navbar {
    color: #0c0c0c !important;
    margin-bottom: 0;
    font-size: 14pt;
}

.nav_link {
    margin-top: 3.75pt!important;
}

.navbar-right {
    color: #e5e5e5;
    display: inline-block;
    margin: 9px;
    font-size: 2em;
}

/* .footer-logo {
    color: #de1717;
    display: inline-block;

    font-size: 30pt;
} */

.footer-logo {
    color: #de1717;
    display: inline-block;
    margin-left: 12px;
    margin-top: 6px;
    font-size: 30pt;
    font-family: Ailerons;
}

.sub_footer {
    color: #e5e5e5;
    background-color: #0c0c0c;
}

#footerlink_logo {
    background-color: #0c0c0c;
}

.footerlink li>a {
    color: #e5e5e5;
    background-color: #0c0c0c;
    font-size: 0.5em;
}

.footer_svg {
    width: 2em;
    margin-right: 0.5em;
}

.subfooter_col {
    text-align: center;
    /*border-width: 0.1em;*/
    border: 1px solid #333;
    padding: 1em;
    font-size: 1em;
}


/* Small devices (tablets, 768px and below) */

@media (max-width: 768px) {
    .subfooter_col {
        text-align: center;
        background-color: #0c0c0c;
    }
    #footerlink_logo {
        text-align: center;
        /* visibility: hidden; */
    }
    .main_logo {
        display: none;
    }
    .navbar-brand-override {
        color: #de1717;
        font-family: Ailerons;
    }
}


/* Medium devices (tablet, 768px and up) */

@media (min-width: 768px) {
    .subfooter_col {
        color: #e5e5e5;
    }
}


/*STYLES FOR ABOUT US PAGE START*/

.mt-1 {
    margin-top: 2.5%;
}

.mt-2 {
    margin-top: 5%;
}

.mt-4 {
    margin-top: 10%;
}

.about-title {
    font-size: 50pt;
    text-transform: uppercase;
    color: #de1717;
    padding-top: 15px;
    margin-left: 25px;
    line-height: 60pt;
    margin-top: 100px;
    -ms-transform: skewX(-8deg);
    /* IE */
    -webkit-transform: skewX(-8deg);
    /* Safari */
    transform: skewX(-8deg);
    /* Standard syntax */
    z-index: 5;
}

.about-desc {
    margin-top: 5px;
    margin-left: 20px;
    width: 400px;
    font-family: AUDIMSCL;
    font-variant: small-caps;
    font-size: 18pt;
    line-height: 18pt;
    z-index: 5 !important;
    vertical-align: bottom;
    text-align: left;
    left: 0px;
    position: relative;
}

#about-background {
    position: absolute;
    width: 100%;
    height: 1390px;
    left: 0;
    top: 0;
    z-index: -2;
}

#triangle-bottomleft {
    width: 0px;
    height: 0px;
    margin-left: 0px;
    border-bottom: 450px solid #e5e5e5;
    border-right: 600px solid transparent;
    position: absolute;
    z-index: 0;
}

#about-banner {
    height: 450px;
    width: 100%;
    object-fit: cover;
    margin-top: -470px;
    z-index: 0;
}

.staff-row {
    margin-top: 0px;
    margin-left: 0.5em;
    text-align: center;
    margin-bottom: 30px;
}

.staff-row h2 {
  font-family: Ailerons;
}

.staff-row h2, h4 {
    color: #de1717;
    line-height: 18pt;
}

.staff-row h4 {
    font-family: AUDIMSCL;
}

.staff-row p {
    font-family: AUDIMSCL;
    font-weight: normal;
    font-size: 13.5pt;
    line-height: 16pt;
}


/*STYLES FOR ABOUT US PAGE END*/


/*STYLES FOR SERVICES PAGE START*/

.service-body {
    left: 0;
}

#services-background {
    position: absolute;
    width: 100%;
    height: 950px;
    left: 0;
    top: 0;
    z-index: -4;
    letter-spacing: 3px;
}

#front {
    z-index: -2
}

.services-title {
    font-size: 32pt;
    font-family: AUDIMSCL;
    font-weight: bold;
    text-transform: uppercase;
    top: 0;
    margin-top: -10px;
    margin-left: -10px;
    letter-spacing: 10px;
}

.services-section-heading {
    font-size: 22pt;
    font-weight: bold;
    font-family: AUDIMSCL;
    text-transform: uppercase;
    margin-bottom: -1px;
}

.services-body-copy {
    font-family: AUDIMSCL;
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: 18pt;
    line-height: 18pt;
}

.services-guidelines {
    text-align: right;
    margin: -240px 30px 50px 0px;
    font-family: AUDIMSCL;
}

.services-guidelines h3 {
    font-size: 20pt;
    font-weight: bold;
    text-transform: uppercase;
}

.services-guidelines p {
    font-size: 16pt;
    line-height: 16pt;
    color: white;
}

.image-caption,
#default-caption {
    font-family: AUDIMSCL;
    font-size: 10pt;
    margin: 10px 10px 20px 20px;
    text-transform: uppercase;
    line-height: 18pt;
    letter-spacing: 3px;
}

.stripe-box {
    margin-top: 80%;
    margin-right: -50px;
    float: right;
    text-align: right;
    padding: 2px;
    border: 3px solid white;
    height: 150px;
    width: 235px;
    color: white;
    background: linear-gradient( to bottom, #0C0C0C, #0C0C0C 30%, #1C1C1C 70%, #1C1C1C);
    background-size: 100% 10px;
}


/*STYLES FOR SERVICES PAGE END*/


/*MEDIA QUERIES FOR ABOUT US PAGE START*/

@media screen and (max-width: 990px) {
    .white-first {
        color: white !important;
    }
}

@media screen and (max-width: 765px) {
    .staff-item {
        text-align: center;
        padding: 0, 0, 20%, 20%;
        display: block;
    }
    .img-staff {
        display: block;
        margin: 0 auto;
    }
    .white-second {
        color: white !important;
    }
}

@media screen and (max-width: 602px) {
    #triangle-bottomleft {
        opacity: 0;
        border-right: 0px;
    }
    .about-desc,
    .about-title {
        color: white;
    }
    .about-desc {
        width: 80%;
        background-color: #000;
        margin-bottom: 50px;
    }
    .about-title {
        margin-top: 80px;
    }
}

/*MEDIA QUERIES FOR ABOUT US PAGE END*/


/*MEDIA QUERIES FOR SERVICES PAGE START*/

@media screen and (max-width: 990px) {
    .logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 2em;
    }
    .services-guidelines {
        text-align: left;
        margin: 1em auto;
    }
    .services-guidelines p {
        margin-left: -40px;
    }
    .stripe-box {
        margin-top: 30px;
        padding: 0;
        float: left;
    }
}

@media screen and (max-width: 720px) {
    .white-frame {
        margin-top: 1em;
    }
}

/*MEDIA QUERIES FOR SERVICES PAGE END*/

/* STYLES FOR CONTACT-US BEGIN */

.filter {
    filter: drop-shadow(0 2px 3px black);
}

#services-background.visible-lg {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100vh;
    max-height: 140vh;
}

#services-background.visible-md {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 50vh;
    max-height: 140vh;
}

#services-background.visible-sm {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 55vh;
    max-height: 95vh;
}

#services-background.visible-xs {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 55vh;
    max-height: 140vh;
}

#map {
    width: 500px;
    height: 500px;
    /* float: right; */
    /* margin-top: -90px; */
    margin-bottom: 50px;
}

#main-contact-content {
    padding-top: 30px;
}

#contact-background {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 75vh;
    height: 90vw;
}

#contact-header {
    margin-top: 30px;
    padding-bottom: 10px;
    color: #eee;
    font-size: 18pt;
}

.radio-group>label {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #eee;
    font-size: 12pt;
}

#contact-form {
    background: #de1717;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, #720c0c);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, #720c0c);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, #720c0c);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, #720c0c);
    /* Standard syntax */
}

.noPadding {
    padding: 0px!important;
}

#contact-message-textarea {
    width: 100%;
}

.submit-button {
    border: 2px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-size: 16pt;
    background: transparent;
}

#contact-guillotine-blade {
    height: fit-content;
    width: 100%;
}

.mobile-section-divider {
    height: 18vh;
}

.haiL p,
.haiR p {
    margin-bottom: 0px;
}

@media (max-width: 768px) {
    #branch-info {
        color: #eee;
        /* z-index: -100; */
    }
    .haiL p {
        text-align: right;
        padding-right: 0px;
        /* margin-top: 15px; */
    }
    .haiR p {
        text-align: left;
        /* margin-top: 15px; */
    }
    #map {
        width: 100%;
        /* height: 90vw; */
        /* float: right; */
    }
    .social-icons {
        margin-bottom: 30px;
    }
    #contact-header {
        font-size: 14pt;
    }
}

@media (max-width: 992px) {
    #branch-info {
        color: #eee;
        z-index: -100;
    }
    #storefront {
        margin-right: auto;
        margin-left: auto;
    }
    .haiL p {
        text-align: right;
        padding-right: 0px;
        /* margin-top: 15px; */
    }
    .haiR p {
        text-align: left;
        /* margin-top: 15px; */
    }
    .social-icons {
        margin-bottom: 30px;
    }
    #map {
        width: 100%;
        /* height: auto; */
    }
}

@media (min-width: 992px) {
    .social-icons {
        min-height: 100%;
        position: relative;
        top: 100%;
        transform: translate(0%, 400%);
    }
    .contact-details-inner {
        position: relative;
        transform: translate(-5%, 65%);
    }
    .social-icons img {
        width: 100%;
        max-width: 60px;
    }
    #storefront {
        width: 90%!important;
    }
    #map {
        width: 100%;
        /* height: auto; */
    }
}

input.form-control,
select.form-control,
textarea.form-control {
    background-color: #000;
    color: #eee;
    border-color: #444!important;
    margin-bottom: 15px;
}

#contact-submit {
    height: 0px;
    margin-bottom: 0px;
}

textarea {
    overflow-y: scroll;
    resize: none;
}

.submit-button {
    position: relative;
    top: 15px;
    left: 15px;
    z-index: 100000;
}

#other-placeholder {
    min-height: 500px;
}

.marginTop {
    margin-top: 15px;
}

.marginBottom {
    margin-bottom: 15px;
}

.contact-details {
    position: relative;
    bottom: 0px;
}

.contact-details-text,
.contact-details-text-heading {
    color: #eee;
    overflow: left;
}

.contact-details-text-heading {
    font-weight: bold;
}

 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: transparent!important;
}

 ::-webkit-scrollbar-button:start:decrement,
 ::-webkit-scrollbar-button:end:increment {
    height: 10px;
    background-color: transparent;
}

 ::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 16px;
}

 ::-webkit-scrollbar-thumb:vertical {
    height: 10px;
    background-color: #0e0e0e;
    /* border-radius: 0px 0px 15px 0px; */
}

.hours-and-info-heading {
    font-weight: bold;
}

/* STYLES FOR CONTACT-US END */


/* STYLES FOR INDEX/HOMEPAGE BEGIN */
/* Small devices (tablets, 768px and below) */

@media (max-width: 768px) {
    #index .main_logo {
        display: none;
    }
    #blurb {
        position: absolute;
        padding-top: 30pt;
        color: #eee;
    }
    #blurb h1 {
        color: #0e0e0e;
        font-size: 20pt;
        font-weight: normal;
    }
    .blurb-socials img {
        max-height: 30px;
        margin-bottom: 20px;
    }
    #subblurb {
        font-size: 12pt;
    }
    .blurbdesc {
        font-size: 8pt;
        color: #eee;
        text-align: right;
        margin-top: 5px;
        padding-right: 30px;
        padding-top: 35px;
        padding-bottom: 20px;
        padding-left: 5px;
    }
}

/* Medium devices (tablet, 768px and up) */

@media (min-width: 768px) {
    #index .navbar-brand-override {
        display: none;
    }
    #index .main_logo {
        position: absolute;
        z-index: 100;
        font-size: 26pt;
        display: inline-block;
        line-height: 30pt;
    }
    #index .filter {
        filter: drop-shadow(0 4px 4px black);
    }
    #blurb {
        position: absolute;
        padding-top: 70pt;
        color: #eee;
    }
    #blurb h1 {
        color: #0e0e0e;
        font-size: 48pt;
        font-weight: normal;
    }
    .blurb-socials {
        margin-bottom: 30px;
    }
    .blurb-socials img {
        max-height: 60px;
    }
    #subblurb {
        font-size: 21.25pt;
    }
    .blurbdesc {
        font-size: 14pt;
        color: #eee;
        text-align: right;
        margin-top: 5px;
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
    }
}

@media (min-width: 992px) {
    #index .navbar-brand-override {
        display: none;
    }
    #index .main_logo {
        z-index: 1;
        position: absolute;
        margin: 0;
        margin-top: 30px;
        margin-left: 30px;
        font-size: 43pt;
        line-height: 43pt;
    }
    #testimonial-2 {
        transform: translateY(75%);
    }
    .youtube-video {
        width: 100%;
        height: 240px;
        border: none;
    }
    #blurb {
        position: absolute;
        padding-top: 100pt;
        color: #eee;
    }
    #blurb h1 {
        color: #0e0e0e;
        font-size: 33pt;
        font-weight: normal;
    }
    .blurb-socials {
        margin-top: 30px;
    }
    #subblurb {
        font-size: 21.25pt;
    }
    .blurbdesc {
        font-size: 14pt;
        color: #eee;
        padding-right: 0px;
    }
}

/* TODO add a media query for blurb in greater than ipad pro (1025px) */

@media (width: 1024px) {
    #index .navbar-brand-override {
        display: none;
    }
    #index .main_logo {
        z-index: 1;
        position: absolute;
        margin: 0;
        margin-top: 30px;
        margin-left: 30px;
        font-size: 40pt;
        line-height: 40pt;
    }
    #testimonial-2 {
        transform: translateY(75%);
    }
    .youtube-video {
        width: 100%;
        height: 240px;
        border: none;
    }
    #blurb {
        position: absolute;
        padding-top: 80pt;
        color: #eee;
    }
    #blurb h1 {
        color: #0e0e0e;
        font-size: 43pt;
        font-weight: normal;
    }
    .blurb-socials {
        margin-top: 30px;
    }
    #subblurb {
        font-size: 21.25pt;
    }
    .blurbdesc {
        font-size: 14pt;
        color: #eee;
        padding-right: 0px;
    }
}

@media (min-width: 1200px) {
    #index .navbar-brand-override {
        display: none;
    }
    #index .main_logo {
        z-index: 1;
        position: absolute;
        margin: 0;
        margin-top: 30px;
        margin-left: 30px;
        font-size: 43pt;
        line-height: 43pt;
    }
    #testimonial-2 {
        transform: translateY(75%);
    }
    .youtube-video {
        width: 100%;
        height: 240px;
        border: none;
    }
    #blurb {
        position: absolute;
        padding-top: 120pt;
        color: #eee;
    }
    #blurb h1 {
        color: #0e0e0e;
        font-size: 56pt;
        font-weight: normal;
    }
    .blurb-socials {
        margin-top: 30px;
    }
    #subblurb {
        font-size: 21.25pt;
    }
    .blurbdesc {
        font-size: 14pt;
        color: #eee;
        padding-right: 0px;
    }
}

.blurb-socials {
  z-index: 100;
}

#index-background {
    width: 100%;
    max-height: 56vw;
    position: absolute;
    z-index: -3;
}

#testimonial-section {
    background-color: black;
    color: #eee;
    padding-top: 15px;
    padding-bottom: 15px;
}

#testimonial-section a:link {
    color: white;
}

#testimonial-section a:visited {
    color: white;
}

#testimonial-1 {
    margin-bottom: 30px;
}

#testimonial-2 {
    text-align: right;
}

#testimonial-3 {
    margin-top: 30px;
}

.testimonial-author {
    font-weight: bold;
}

.youtube-video {
    width: 100%;
    height: 240px;
    border: none;
}
/* STYLES FOR INDEX/HOMEPAGE END */
