/* Small devices (tablets, 768px and below) */
@media (max-width: 768px) {
    .main_logo{
        display: none;
    }
}



/* Medium devices (tablet, 768px and up) */
@media (min-width: 768px) {
    .navbar-brand-override{
    	display: none;
    }
    .main_logo{
        z-index: 1;
        position: absolute;
        margin: 0;
        margin-left: 1em;
    }
    .img-responsive{
    	margin-left: 6em;
    }
}

