
/* fonts*/

@font-face { 
	font-family: Ailerons;
	src:url('../fonts/Ailerons-Typeface.otf');
}

body{
	font-family: Ailerons;
    background: #de1717;
    z-index: -3;
}

/* nav bar css */ 


.main_nav{
	color:#0c0c0c ;
}

.navbar-brand-override{
	color:#de1717;
	font-size: 4em;
	margin: 0.8em;
	letter-spacing: 0.2em;

}
.navbar li a, .navbar {
  color: #000 !important;
}
.navbar-right{
	color:#e5e5e5;
	display:inline-block;
	margin:9px;
  	font-size: 2em;
}


.footer-logo{
	color:#de1717;
	display:inline-block;
	margin:0.01em;
	font-size: 3em;
}
.sub_footer{
	color:#e5e5e5;
	background-color: #0c0c0c;
}

#footerlink_logo{
	background-color: #0c0c0c;
}

.footerlink li > a{
	color:#e5e5e5;
	background-color: #0c0c0c;
	font-size: 0.5em;
}
.footer_svg{
		width: 2em;
		margin-right: 0.5em;
}

.subfooter_col{
	text-align: center;
	/*border-width: 0.1em;*/
	border: 1px solid white;
	padding: 1em;
	font-size: 1em;
}

/* Small devices (tablets, 768px and below) */
@media (max-width: 768px) {
	.subfooter_col{
		text-align: center;
		background-color: #0c0c0c;
	}
	#footerlink_logo{
		text-align: center;
		visibility:hidden;
	}
}



/* Medium devices (tablet, 768px and up) */
@media (min-width: 768px) {
	.subfooter_col{
		color: #e5e5e5;
	}
}


/*STYLES FOR ABOUT US PAGE START*/

.mt-2 {
  margin-top: 5%;
}

.logo {
    height: 100px;
    align-content: center;
}

.spacer {
    min-height: 450px;
}

#about-background {
    position:absolute;
    width:100%;
    height:1370px;
    left:0;
    z-index: -2;
}


#triangle-bottomleft {
   width: 0px;
   height: 0px;
   border-bottom: 450px solid #e5e5e5;
   border-right: 480px solid transparent;
   position: absolute;
}

#triangle-bottomleft p, h1 {
    vertical-align: bottom;
    text-align: left;
    top: 100px;
    left: 0px;
    position: relative;
    width: 250px;
    height: 70px;
    padding: 10px;
}

#about-banner {
    height: 440px;
}

/*STYLES FOR ABOUT US PAGE END*/


/*STYLES FOR SERVICES PAGE START*/
#services-background {
    position:absolute;
    width:100%;
    height:950px;
    left:0;
    z-index: -4;
}

#front {
    z-index: -2
}

.services-guidelines {
    text-align: right;
    margin: -200px 10px 50px 0px;
}

.stripe-box {
   margin-top: 80%;
    float: right;
    text-align: right;
    padding: 5px;
    border: 3px solid white;
    font-size: 14px;
    font-variant: small-caps;
    height: 150px;
    width: 235px;
    color: white;
    background: linear-gradient(
    to bottom,
    #0C0C0C,
    #0C0C0C 30%,
    #1C1C1C 70%,
    #1C1C1C
  );
  background-size: 100% 10px;
}

/*STYLES FOR SERVICES PAGE END*/


/*MEDIA QUERIES FOR ABOUT US PAGE START*/
@media screen and (max-width: 960px) {
    #about-banner {
    position: absolute;
    top: 0px;
    clip: rect(0px,390px,450px,0px);
    z-index: -1;

    }
}

@media screen and (min-width: 980px) {
    #about-banner {
    position: absolute;
    max-width: 100%;
    height: auto;
    z-index: -1;

    }
}

@media screen and (max-width: 990px) {
    p {
    padding-right: 20%;
    }
}
/*MEDIA QUERIES FOR ABOUT US PAGE END*/

