/* Styles for the polaroid behind the gallery on desktop / tablet */
#polaroid {
    position: relative;
    z-index: -2;
}

/* Style for the carousel wrapper */
.jcarousel-wrapper {
    top: 0;
    position: absolute;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 0px #999;
}

/* Styles for carousel on desktop*/
.jcarousel {
    margin-left: 25px;
    position: relative;
    overflow: hidden;
    width: 600px;
    z-index: 0;
}

.jcarousel ul {
    width: 3000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 300px;
    margin: 25px 10px 25px 0px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 97%;
    height: auto !important;
}

/* Styles for carousel controls*/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 97%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #de1717;
    font-family: Audimat;
    font-size: 22pt;
}

/* Desktop position for back button */
.jcarousel-control-prev {
    left: 200px;
}

/* Styling and desktop position for gallery title */
.gallery-text {
    left: 250px;
    font-weight: bold;
    font-family: AUDIMSCL;
    font-size: 18pt;
    position: absolute;
    top: 97%;
    width: 60px;
    height: 30px;
    text-align: center;
    color: #000;
    white-space: nowrap;
}


/* Desktop position for next button */
.jcarousel-control-next {
    left: 440px;
}


/* START OF GALLERY MEDIA QUERIES*/
/* Media Query */
@media screen and (max-width: 700px) {
    /*Hides the polaroid on mobile*/
    #polaroid {
        opacity: 0;
        width: 0;
    }

     /* Sets mobile position for back button*/
    .jcarousel-control-prev {
        margin-left: -150px;
    }

     /* Sets the mobile position for next button on mobile */
    .jcarousel-control-next{
        margin-left: -160px;
    }

     /* Sets the mobile position for gallery title on mobile */
    .gallery-text {
        margin-left: -160px;
    }

     /* Reduces width of carousel on mobile */
    .jcarousel {
        width: 300px;
    }
     /* Styles for the white-frame mobile replacement for polaroid */
    .white-frame {
        background-color: #fff;
        width: 360px;
        max-height: 290px;

    }
}



