#polaroid {
    position: relative;
    z-index: -2;
}


.jcarousel-wrapper {
    top: 0;
    position: absolute;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 0px #999;
}

/** Carousel **/

.jcarousel {
    margin-left: 25px;
    position: relative;
    overflow: hidden;
    width: 595px;
    z-index: 0;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 290px;
    margin: 25px 10px 25px 10px;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.jcarousel img {
    display: block;
    max-width: 97%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 97%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #de1717;
    font-family: Audimat;
    font-size: 22pt;
}

.jcarousel-control-prev {
    left: 200px;
}

.gallery-text {
    left: 250px;
    font-weight: bold;
    font-family: AUDIMSCL;
    font-size: 18pt;
    position: absolute;
    top: 97%;
    width: 60px;
    height: 30px;
    text-align: center;
    color: #000;
    white-space: nowrap;
}


.jcarousel-control-next {
    left: 440px;
}


/* Media Query */
@media screen and (max-width: 410px) {
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 200px;
}

@media screen and (max-width: 410px) {
.jcarousel-control-next {
    left: 170px;
}

@media screen and (max-width: 410px) {
#gallery-title {
    padding-left: 15%;
}

